<div class="content-block">
    <!-- Browse Jobs -->
    <div class="section-full browse-job content-inner-2">
        <div class="container">
            
            <app-score-component></app-score-component>            
            <app-list-verifier-component></app-list-verifier-component>
            <div class="row">
                <div class="col-md-9">
                    <app-work-experience-component></app-work-experience-component>
                    <app-education-component></app-education-component>
                    <app-skill-component></app-skill-component>
                    <app-ideal-job-component></app-ideal-job-component>
                </div>
                <div class="col-md-3 m-b30">
                    <app-recent-bar-component></app-recent-bar-component>
                </div>
            </div>
        </div>
    </div>
    <!-- Browse Jobs END -->
</div>