<div class="page-content bg-white login-style2"
    style="background-image:url(assets/images/background/bg6.jpg); background-size: cover;">
    <div class="section-full">
        <!-- Login Page -->
        <div class="container">
            <div class="row">
                <div class="col-md-7 rw-pr-par">
                    <div class="login-2 submit-resume p-a30 seth animated bounceInLeft">
                        <!-- <div class="progress-main">
                            <div class="progress-child">
                                <span class="step-icon">1</span>
                                <span class="step-text">Step 1</span>
                            </div>
                            <div class="progress-child">
                                <span class="step-icon">2</span>
                                <span class="step-text">Step 2</span>
                            </div>
                            <div class="progress-child">
                                <span class="step-icon">3</span>
                                <span class="step-text">Step 3</span>
                            </div>
                            <div class="progress-child">
                                <span class="step-icon">4</span>
                                <span class="step-text">Step 4</span>
                            </div> 
                        </div> -->
                        <div class="tab-content nav">
                            <form (ngSubmit)="onSubmit(profileCompleteForm)" [formGroup]="profileCompleteForm"
                                class="tab-pane active col-12 p-a0" [ngSwitch]="wizard">
                                <h3 id="headingText">{{wizardHeading}}</h3>
                                <div *ngSwitchDefault>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>First Name*</mat-label>
                                                <input matInput placeholder="Enter First Name">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Last Name*</mat-label>
                                                <input matInput placeholder="Enter Last Name">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-md-12 form-group">
                                            <label>Description*</label>
                                            <div class="input-group input100-div">
                                                <textarea formControlName="description" placeholder="Enter a headline or a brief description of your career highlights.
(Please limit to 100 characters)" class="form-control" required="" rows="4"></textarea>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Description*</mat-label>
                                                <input matInput placeholder="Enter a headline or a brief description of your career highlights.
                                                (Please limit to 100 characters)" rows="4">
                                                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                                <mat-hint>Hint</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-label>Select Country</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>India</mat-option>
                                                    <mat-option>Usa</mat-option>
                                                    <mat-option>New Zealand</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Zip*</mat-label>
                                                <input matInput placeholder="Enter Zip">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>City*</mat-label>
                                                <input matInput placeholder="Enter City">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>State*</mat-label>
                                                <input matInput placeholder="Enter State">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button class="site-button float-right"
                                            (click)="profileCreate('work-exp-form')">Next</button>
                                    </div>
                                </div>

                                <div *ngSwitchCase="'work-exp-form'">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Job Title*</mat-label>
                                                <input matInput placeholder="Enter Job Title">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-label>Select Job Type</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>Direct Hire</mat-option>
                                                    <mat-option>Contract</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Employer*</mat-label>
                                                <input matInput placeholder="Enter Employer">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Staffing Company ( If Applicable )*</mat-label>
                                                <input matInput placeholder="Enter Staffing Company ( If Applicable )">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-12" style="margin: 9px 0 8px 0;">
                                            <mat-checkbox class="example-margin">I am
                                                currently working here</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Choose from date</mat-label>
                                                <input matInput [min]="minDate" [max]="maxDate"
                                                    [matDatepicker]="fromDate">
                                                <mat-datepicker-toggle matSuffix [for]="fromDate">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #fromDate></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Choose to date</mat-label>
                                                <input matInput [min]="minDate" [max]="maxDate"
                                                    [matDatepicker]="toDate">
                                                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                                <mat-datepicker #toDate></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button (click)="profileCreate('account-info-form')"
                                            class="site-button float-left">Back</button>
                                        <button (click)="profileCreate('skill-form')"
                                            class="site-button float-right">Next</button>
                                    </div>
                                </div>

                                <div *ngSwitchCase="'skill-form'">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Skiils*</mat-label>
                                                <input matInput placeholder="Enter Skiils">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Experience*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>
                                                        < 3 Years</mat-option>
                                                            <mat-option>3-5 Years</mat-option>
                                                            <mat-option>5-7 Years</mat-option>
                                                            <mat-option>7-10 Years</mat-option>
                                                            <mat-option>> 10 Years</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Last Used*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>2020</mat-option>
                                                    <mat-option>2019</mat-option>
                                                    <mat-option>2018</mat-option>
                                                    <mat-option>2017</mat-option>
                                                    <mat-option>2016</mat-option>
                                                    <mat-option>2015</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Skiils*</mat-label>
                                                <input matInput placeholder="Enter Skiils">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Experience*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>
                                                        < 3 Years</mat-option>
                                                            <mat-option>3-5 Years</mat-option>
                                                            <mat-option>5-7 Years</mat-option>
                                                            <mat-option>7-10 Years</mat-option>
                                                            <mat-option>> 10 Years</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Last Used*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>2020</mat-option>
                                                    <mat-option>2019</mat-option>
                                                    <mat-option>2018</mat-option>
                                                    <mat-option>2017</mat-option>
                                                    <mat-option>2016</mat-option>
                                                    <mat-option>2015</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Skiils*</mat-label>
                                                <input matInput placeholder="Enter Skiils">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Experience*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>
                                                        < 3 Years</mat-option>
                                                            <mat-option>3-5 Years</mat-option>
                                                            <mat-option>5-7 Years</mat-option>
                                                            <mat-option>7-10 Years</mat-option>
                                                            <mat-option>> 10 Years</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Last Used*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>2020</mat-option>
                                                    <mat-option>2019</mat-option>
                                                    <mat-option>2018</mat-option>
                                                    <mat-option>2017</mat-option>
                                                    <mat-option>2016</mat-option>
                                                    <mat-option>2015</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Skiils*</mat-label>
                                                <input matInput placeholder="Enter Skiils">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Experience*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>
                                                        < 3 Years</mat-option>
                                                            <mat-option>3-5 Years</mat-option>
                                                            <mat-option>5-7 Years</mat-option>
                                                            <mat-option>7-10 Years</mat-option>
                                                            <mat-option>> 10 Years</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Last Used*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>2020</mat-option>
                                                    <mat-option>2019</mat-option>
                                                    <mat-option>2018</mat-option>
                                                    <mat-option>2017</mat-option>
                                                    <mat-option>2016</mat-option>
                                                    <mat-option>2015</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Skiils*</mat-label>
                                                <input matInput placeholder="Enter Skiils">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Experience*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>
                                                        < 3 Years</mat-option>
                                                            <mat-option>3-5 Years</mat-option>
                                                            <mat-option>5-7 Years</mat-option>
                                                            <mat-option>7-10 Years</mat-option>
                                                            <mat-option>> 10 Years</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Last Used*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>2020</mat-option>
                                                    <mat-option>2019</mat-option>
                                                    <mat-option>2018</mat-option>
                                                    <mat-option>2017</mat-option>
                                                    <mat-option>2016</mat-option>
                                                    <mat-option>2015</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button (click)="profileCreate('work-exp-form')"
                                            class="site-button float-left">Back</button>
                                        <button (click)="profileCreate('ideal-job-form')"
                                            class="site-button float-right">Next</button>
                                    </div>
                                </div>


                                <div *ngSwitchCase="'ideal-job-form'">
                                    <div class="row">
                                        <div class="col-md-12" style="margin: 9px 0 8px 0;">
                                            <mat-checkbox class="example-margin">I am
                                                currently Available</mat-checkbox>
                                        </div>
                                    </div>
                                    <label style="margin-bottom: 10px; font-weight: 500;">Employment Types *</label>
                                    <div class="row" style="margin-bottom: 15px;">

                                        <div class="col-md-4">
                                            <mat-checkbox class="example-margin">Direct Hire</mat-checkbox>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-checkbox class="example-margin">Contract / Temp</mat-checkbox>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-checkbox class="example-margin">Part-time / Gig</mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">

                                            <mat-form-field class="example-full-width">
                                                <mat-label>Choose available date</mat-label>
                                                <input matInput [min]="minDate" [max]="maxDate"
                                                    [matDatepicker]="availableDate">
                                                <mat-datepicker-toggle matSuffix [for]="availableDate">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #availableDate></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Desired Pay*</mat-label>
                                                <input matInput placeholder="Enter Desired Pay">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Select Annually*</mat-label>
                                                <mat-select name="food">
                                                    <mat-option>Annually</mat-option>
                                                    <mat-option>Hourly</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button (click)="profileCreate('skill-form')"
                                            class="site-button float-left">Back</button>
                                        <button class="site-button float-right">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Page END -->
    </div>
    <footer class="login-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="float-left">© Copyright by <i class="fa fa-heart m-lr5 text-red heart"></i>
                        <a href="javascript:void(0);">DexignZone </a> </span>
                    <span class="float-right">
                        All rights reserved.
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>