<!-- header -->
<header class="site-header mo-left header fullwidth">
    <!-- main header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                    <a routerLink="Dashboard"><img src="https://talenting.info/frontend/images/Talenting_logo_2.png" class="logo" alt=""></a>
                </div>
                <!-- nav toggle button -->
                <!-- nav toggle button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- extra nav -->
                
                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a routerLink="/Dashboard" routerLinkActive="active">Home</a>
                        </li>
                        <li class="notActive">
                            <a routerLink="/Verification" routerLinkActive="active">Verification</a>
                        </li>
                    </ul>			
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>
<!-- header END -->