<!-- Footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Connect</h5>
                        <ul class="list-2 w10 list-line">
                            <li><a href="javascript:void(0);">About Us</a></li>
                            <li><a href="javascript:void(0);">Career</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Explore</h5>
                        <ul class="list-2 w10 list-line">
                            <li><a href="javascript:void(0);">Talenting Token</a></li>
                            <li><a href="javascript:void(0);">Blog</a></li>
                            <li><a href="javascript:void(0);">Faq</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Contact</h5>
                        <ul class="list-2 w10 list-line">
                            <li><a href="javascript:void(0);">info@talenting.io</a></li>
                            <li>1219 Morningside Drive, Suite 102
                                Manhattan Beach Blvd, Manhattan Beach, California 90266, US</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span> © Copyright by <i class="fa fa-heart m-lr5 text-red heart"></i>
                    <a href="javascript:void(0);">vDoIT Technologies Pvt Ltd. </a> All rights reserved.</span> 
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->