<div class="page-content bg-white login-style2"
    style="background-image:url(assets/images/background/bg6.jpg); background-size: cover;">
    <div class="section-full">
        <!-- Login Page -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 d-flex">
                    <div class="text-white max-w400 align-self-center">
                        <div class="logo">
                            <a>Talenting</a>
                        </div>
                        <h2 class="m-b10">Sign Up To You Now</h2>
                        <p class="m-b30">Lorem Ipsum is simply dummy text of the printing and typesetting industry has
                            been the industry.</p>
                        <!-- <ul class="list-inline m-a0">
                            <li><a href="#" class="m-r10 text-white"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="m-r10 text-white"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="m-r10 text-white"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="m-r10 text-white"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="m-r10 text-white"><i class="fa fa-twitter"></i></a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login-2 submit-resume p-a30 seth">
                        <p class="login100-form-title">Sign Up</p>
                        <div class="tab-content nav">

                            <form id="login" class="example-form tab-pane active col-12 p-a0 ">

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>First Name*</mat-label>
                                            <input matInput placeholder="Enter First Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Last Name*</mat-label>
                                            <input matInput placeholder="Enter Last Name">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email*</mat-label>
                                            <input matInput placeholder="Enter Email Id">

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Phone*</mat-label>
                                            <input matInput placeholder="Enter Phone Number">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Password*</mat-label>
                                            <input matInput placeholder="Enter Password">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Re-Password*</mat-label>
                                            <input matInput placeholder="Re-Enter Password">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-12">
                                        <mat-checkbox class="example-margin">I agree to the <a href="#">Terms and
                                                Conditions </a>and <a href="#">Privacy Policy</a></mat-checkbox>
                                    </div>
                                </div>
                                <div class="text-center01">
                                    <button class="site-button" routerLink="/profile-complete"
                                        routerLinkActive="active">Sign Up</button>

                                </div>
                                <div class="social-media-signup">
                                    <p>Or Sign Up Using</p>
                                    <div class="social-icon-card">
                                        <span><img src="assets/images/social/facebook.png" alt="Facebook"></span>
                                        <span><img src="assets/images/social/twitter.png" alt="Twitter"></span>
                                        <span><img src="assets/images/social/linkedin.png" alt="Linkedin"></span>
                                        <span><img src="assets/images/social/gmail.png" alt="Gmail"></span>
                                    </div>
                                </div>
                                <div class="already-acc">
                                    <p>Already have an account? <a routerLink="/Login">Login</a></p>

                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Page END -->
    </div>
</div>