<div class="content-block">
    <!-- Browse Jobs -->
    <div class="section-full browse-job content-inner-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ver_heading">
                        <h4>Verification</h4>
                    </div>
                </div>
            </div>
            <div class="veri00-box">
            <div class="row">
                
                <div class="col-xs-12 col-md-2">

                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="main-card-verification00">
                        <div class="veri00-card-img">
                            <img src="assets/images/logo/logo/group.png"
                                alt="ver.png">
                        </div>
                        <div class="card_detail_lv">
                            <h3><a routerLink="received">Verification Received</a></h3>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="main-card-verification00">
                        <div class="veri00-card-img">
                            <img src="assets/images/logo/logo/group.png"
                                alt="ver.png">
                        </div>
                        <div class="card_detail_lv">
                            <h3><a routerLink="received">Verification Given</a></h3>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">

                </div>
                
            </div>
        </div>
        </div>
    </div>
    <!-- Browse Jobs END -->
</div>