<div>
	<div class="bg-img">
		<div class="container">
			<div class="logo">
				<h1>Talenting</h1>
			</div>
			<div class="landing-banner">
				<div class="landing-banner-heading">
					<h1>Power Your Career with Blockchain</h1>
				</div>
				<div class="landing-ban-detail00">
					<h2>Separate yourself from the crowd using the power of blockchain to create trust with employers
						and clients.</h2>
				</div>
				<div class="landing-button">
					<a class="landing-login-btn" routerLink="/Login" routerLinkActive="active">Login</a>
				
					<a class="landing-signup-btn" routerLink="/Sign-up" routerLinkActive="active">Sign Up</a>
			</div>
			</div>
			
		</div>
	</div>
</div>