<div class="row">
    <div class="col-md-6 gauge-section">
        <div class="gauge-card">
            <div class="gauge-icon">
                <img src="assets/images/gauge-meter.png" alt="gauge-meter.png">
                <p style="margin-bottom: 0px;">752</p>
                <p>Career Score</p>
            </div>
            <div class="gauge-detail_00">
                <p>Your Talenting Career Score is your tool to advance your career. Your Score is calculated
                    from 80 to 800 by the number of quality verifications you receive from your managers,
                    peers and colleauges. The More quality verifications you receive the better your
                    Talenting Career Score. </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 gauge-section">
        <div class="gauge-card">
            <div class="gauge-icon">
                <img src="assets/images/gauge-meter.png" alt="gauge-meter.png">
                <p style="margin-bottom: 0px;">500</p>
                <p>Verifier Score</p>
            </div>
            <div class="gauge-detail_00">
                <p>Your Talenting Verifier Score shows the quality of yours reviews of your managers, peers
                    and colleauges. The higher your Verifier score is the more trusted your profile becomes.
                </p>
            </div>
        </div>
    </div>
</div>