<div class="widget widget_gallery gallery-grid-3">
    <h6 class="widget-title style-1" style="text-align: center;">Blockchain History</h6>
    <ul>
        <li>
            <div class="dez-post-thum">
                <img src="assets/images/logo/logo/blockchain.png" alt="Skills">
                <a href="javascript:void(0);" class="dez-img-overlay1 zoom-slow">

                    <p>Skills</p>
                </a>
            </div>
        </li>
        <li>
            <div class="dez-post-thum">
                <img src="assets/images/logo/logo/blockchain.png" alt="Work Experience">
                <a href="javascript:void(0);" class="dez-img-overlay1 zoom-slow">
                    <p style="line-height: 18px;">Work Experience</p>
                </a></div>
        </li>
        <li>
            <div class="dez-post-thum">
                <img src="assets/images/logo/logo/blockchain.png" alt="Education">
                <a href="javascript:void(0);" class="dez-img-overlay1 zoom-slow">
                    <p>Education</p>
                </a></div>
        </li>
        <li>
            <div class="dez-post-thum">
                <img src="assets/images/logo/logo/blockchain.png" alt="Ideal Job">
                <a href="javascript:void(0);" class="dez-img-overlay1 zoom-slow">
                    <p>Ideal Job</p>
                </a></div>
        </li>
    </ul>
</div>
<div class="widget widget_gallery gallery-grid-3">
    <h6 class="widget-title style-1" style="line-height: 25px;">Several ways to verify your skills
    </h6>
    <div class="tg-widgetcontent">
        <ul class="tg-socialicons">
            <li class="tg-facebook"><a href="#"><img src="assets/images/logo/logo/facebook.png"
                        alt="Facebook"><span>Facebook</span></a></li>
            <li class="tg-twitter"><a href="#"><img src="assets/images/logo/logo/twitter.png"
                        alt="Twitter"><span>Twitter</span></a></li>
            <li class="tg-linkedin"><a href="#"><img src="assets/images/logo/logo/linkedin.png"
                        alt="Linkedin"><span>Linkedin</span></a></li>
            <li class="tg-googleplus"><a href="#"><img src="assets/images/logo/logo/gmail.png"
                        alt="Gmail"><span>Google Plus</span></a></li>
            <li class="tg-rss"><a href="#"><img src="assets/images/logo/logo/mail.png"
                        alt="Email"><span>Email Verifier</span></a></li>
            <li class="tg-vimeo"><a href="#"><i
                        class="fa fa-vimeo"></i><span>Verification</span></a></li>
        </ul>
    </div>
</div>