<section class="list-v-sec">
    <div class="row">
        <div class="col-md-12">
            <div class="ver_heading">
                <h4>List of Verifiers</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="main-card-w-v">
                <div class="card_img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGcAQpgXMOZmQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=B95IcQPYUqJPnEnVezyYNrE88IZkuNunkWPHFP1G6lE"
                        alt="ver.png">
                </div>
                <div class="card_detail_lv">
                    <h5>Neeraj Yadav</h5>
                    <p><span><img src="assets/images/logo/logo/designation.png" alt=""></span>Android
                        Developer</p>
                    <p><span><img src="assets/images/logo/logo/location.png" alt=""></span>Gurgaon, India
                    </p>
                    <p><span><img src="assets/images/logo/logo/mail-small.png"
                                alt=""></span>neeraj.vdoit@gmail.com</p>
                    <p><span><img src="assets/images/logo/logo/scoreboard.png" alt=""></span>150</p>
                    <div class="card-detail-skill">
                        <span>Java</span>
                        <span>React Native</span>
                        <span>Kotlin</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-card-w-v">
                <div class="card_img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGcAQpgXMOZmQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=B95IcQPYUqJPnEnVezyYNrE88IZkuNunkWPHFP1G6lE"
                        alt="ver.png">
                </div>
                <div class="card_detail_lv">
                    <h5>Neeraj Yadav</h5>
                    <p><span><img src="assets/images/logo/logo/designation.png" alt=""></span>Android
                        Developer</p>
                    <p><span><img src="assets/images/logo/logo/location.png" alt=""></span>Gurgaon, India
                    </p>
                    <p><span><img src="assets/images/logo/logo/mail-small.png"
                                alt=""></span>neeraj.vdoit@gmail.com</p>
                    <p><span><img src="assets/images/logo/logo/scoreboard.png" alt=""></span>150</p>
                    <div class="card-detail-skill">
                        <span>Java</span>
                        <span>React Native</span>
                        <span>Kotlin</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-card-w-v">
                <div class="card_img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGcAQpgXMOZmQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=B95IcQPYUqJPnEnVezyYNrE88IZkuNunkWPHFP1G6lE"
                        alt="ver.png">
                </div>
                <div class="card_detail_lv">
                    <h5>Neeraj Yadav</h5>
                    <p><span><img src="assets/images/logo/logo/designation.png" alt=""></span>Android
                        Developer</p>
                    <p><span><img src="assets/images/logo/logo/location.png" alt=""></span>Gurgaon, India
                    </p>
                    <p><span><img src="assets/images/logo/logo/mail-small.png"
                                alt=""></span>neeraj.vdoit@gmail.com</p>
                    <p><span><img src="assets/images/logo/logo/scoreboard.png" alt=""></span>150</p>
                    <div class="card-detail-skill">
                        <span>Java</span>
                        <span>React Native</span>
                        <span>Kotlin</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-v-view-btn">
                <a class="site-button-d">View More</a>
            </div>
        </div>
    </div>
</section>