<div id="it_skills_bx" class="job-bx table-job-bx bg-white m-b30">
    <div class="d-flex">
        <h5 class="m-b15" style="margin-bottom: 4px;">Skills</h5>
        <a data-toggle="modal" data-target="#myModalAddSkills" class="site-button add-btn button-sm"><i class="fa fa-plus-square m-r5"></i> Add</a>
    </div>
    <hr>
    <div class="work-exp-main">
        <div class="col-md-2 company-logo">
            <img src="assets/images/logo/logo/skill.png" alt="skill.png">
        </div>
        <div class="col-md-10 work-ex-detail">
            <div class="work-desc">
                <h6 class="m-b0">Laravel</h6>
                <p class="m-b0"><span>Last Used - </span>2018</p>
                <p class="m-b0"><span>Experience - </span>< 3 Years</p>
                
            </div>
            <div class="edit-logo">
                <a data-toggle="modal" data-target="#myModalEditSkills"
                    class="site-button add-btn button-sm"><i class="fa fa-pencil" title="Edit" data-toggle="tooltip"></i></a>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#employment"
                    class="site-button add-btn button-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                </div>
                
        </div>
    </div>
    <hr>
    <div class="work-exp-main">
        <div class="col-md-2 company-logo">
            <img src="assets/images/logo/logo/skill.png" alt="logo.png">
        </div>
        <div class="col-md-10 work-ex-detail">
            <div class="work-desc">
                <h6 class="m-b0">Blockchain</h6>
                <p class="m-b0"><span>Last Used - </span>2018</p>
                <p class="m-b0"><span>Experience - </span>< 3 Years</p>
                
            </div>
            <div class="edit-logo">
                <a href="javascript:void(0);" data-toggle="modal tooltip" data-target="#employment"
                    class="site-button add-btn button-sm" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#employment"
                    class="site-button add-btn button-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                </div>
                
        </div>
    </div>
    <!-- add Modal -->
    <div class="modal fade" id="myModalAddSkills" role="dialog">
        <div class="modal-dialog modal-md">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Skills</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Skills*</mat-label>
                            <input matInput placeholder="Enter Skills">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-label>Select Experience*</mat-label>
                            <mat-select name="food">
                                <mat-option>< 3 Years</mat-option>
                                <mat-option>3-5 Years</mat-option>
                                <mat-option>5-7 Years</mat-option>
                                <mat-option>7-10 Years</mat-option>
                                <mat-option>10 Years</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-label>Select Last Used*</mat-label>
                            <mat-select name="food">
                                <mat-option>2020</mat-option>
                                <mat-option>2020</mat-option>
                                <mat-option>2020</mat-option>
                                <mat-option>2020</mat-option>
                                <mat-option>2020</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
    <!-- add Modal End -->


        <!-- edit Modal -->
        <div class="modal fade" id="myModalEditSkills" role="dialog">
            <div class="modal-dialog modal-md">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Skills</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Skills*</mat-label>
                                <input matInput placeholder="Enter Skills">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>Select Experience*</mat-label>
                                <mat-select name="food">
                                    <mat-option>< 3 Years</mat-option>
                                    <mat-option>3-5 Years</mat-option>
                                    <mat-option>5-7 Years</mat-option>
                                    <mat-option>7-10 Years</mat-option>
                                    <mat-option>10 Years</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>Select Last Used*</mat-label>
                                <mat-select name="food">
                                    <mat-option>2020</mat-option>
                                    <mat-option>2020</mat-option>
                                    <mat-option>2020</mat-option>
                                    <mat-option>2020</mat-option>
                                    <mat-option>2020</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>
        <!-- edit Modal End -->
</div>