<div id="education_bx" class="job-bx bg-white m-b30">
    <div class="d-flex">
        <h5 class="m-b15" style="margin-bottom: 4px;">Education</h5>
    </div>
    <hr>
    <div class="work-exp-main">
        <div class="col-md-2 company-logo">
            <img src="assets/images/logo/logo/university.png" alt="logo.png">
        </div>
        <div class="col-md-10 work-ex-detail">
            <div class="work-desc">
                <h6 class="m-b0">Ignou</h6>
                <p class="m-b0">2018-2021</p>
                <h6 class="m-b0">Master of Computer Application</h6>
                <p class="m-b0">Gurgaon, Haryana, India</p>
                
            </div>
            <div class="edit-logo">
                <a href="javascript:void(0);" data-toggle="modal tooltip" data-target="#employment"
                    class="site-button add-btn button-sm" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#employment"
                    class="site-button add-btn button-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                </div>
                
        </div>
    </div>
    <hr>
    <div class="work-exp-main">
        <div class="col-md-2 company-logo">
            <img src="assets/images/logo/logo/university.png" alt="logo.png">
        </div>
        <div class="col-md-10 work-ex-detail">
            <div class="work-desc">
                <h6 class="m-b0">Csjmu</h6>
                <p class="m-b0">2015-2017</p>
                <h6 class="m-b0">Master of Science</h6>
                <p class="m-b0">Kanpur, U.P, India</p>
                
            </div>
            <div class="edit-logo">
                <a href="javascript:void(0);" data-toggle="modal tooltip" data-target="#employment"
                    class="site-button add-btn button-sm" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#employment"
                    class="site-button add-btn button-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                </div>
                
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-bx-info editor" id="education" tabindex="-1" role="dialog" aria-labelledby="EducationModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EducationModalLongTitle">Education</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Education</label>
                                    <select>
                                        <option>Doctorate/PhD</option>
                                        <option>Masters/Post-Graduation</option>
                                        <option>Graduation/Diploma</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Course</label>
                                    <input type="email" class="form-control" placeholder="Select Course">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>University/Institute</label>
                                    <input type="email" class="form-control" placeholder="Select University/Institute">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="site-button" data-dismiss="modal">Cancel</button>
                    <button type="button" class="site-button">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

</div>